.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:35px ;
    /* margin-top: 30px\ */
}
.hero img{
margin-top: 80px;
}
.hero h1{
 text-align: center;
 width:50%;
 font-size: 80px;
 font-weight: 600;

}
.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10% , #8415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size:24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap:25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px
}
.hero-connect{
    padding: 20px 35px ;
    cursor: pointer;
    border-radius: 50px;
    background:linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);

}
.hero-connect:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    border:2px solid #FFF
}
.hero-resume{
    padding: 20px 65px ;
    cursor: pointer;
    border-radius: 50px;
    border:2px solid #FFF

}
.hero-resume:hover{
    transform: scale(1.05);
    border-color: #B923E1;

    transition: 0.4s ease-in-out;
}