.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.Navbar ul li a{
    text-decoration: none;
    color: white;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor:pointer;
    gap: 5px;
}
.nav-menu li img{
    margin: auto;
    display: flex;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
   gap: 60px;
   font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 50px;
    background:linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
}
.nav-connect:hover{
    transform:scale(1.05);
    transition: 0.3s ease-in-out;
}